<section id="footer">
    <div class="footerholder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" id="formaforma">
                    <div class=" lead vissionLabel" id="formatheader"><strong>Contact Us</strong></div>
                    <div class="address"><b>Adress:</b><i class="fa fa-map-marker"></i>XYZ Road,Bangalor, Umuahia</div>
                    <div class="address"><b>Phone:</b><i class="fa fa-phone"></i>+234 08136719587</div>
                    <div class="address"><b>Email:</b><i class="fa fa-envelope"></i>ugochukwuaugustine7@gmail.com</div>
                    <div class="address"><label><b>Connect:</b></label>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-3 col-xl-3" id="formaforma">
                    <div class="vissionLabel">
                        <div class=" lead vissionheader" id="formatheader"><strong>Our Vission</strong></div>
                        <div class="missionbody">
                            Our vission is to make create a laundery and dry cleaning services
                            industry to meet up with the dry cleaning and laundery demand of people
                            especially the very much bussy individuals so as to promote co-ordial 
                            relationship between the customer and the company personels
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-6" id="formaforma">
                    <div class="vissionLabel">
                        <div  id="formatheader" class="lead vissionheader"><strong>Our Mission</strong></div>
                        <div class="missionbody">
                            Our vission is to make create a laundery and dry cleaning services
                            industry to meet up with the dry cleaning and laundery demand of people
                            especially the very much bussy individuals so as to promote co-ordial 
                            relationship between the customer and the company personels. Urch man laundery and dry
                            cleaning ensures that its customers are and are also satisfied the quality of services 
                            being rendered in the industry
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttomfooter">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright Urchman &copy;
                    <span id="year"></span></p>
                </div>
            </div>
        </div>    
    </div>  
</section>