{{> header}}
<section id ="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <div class="container">
                    <div class="carousel-caption d-xs-block text-right mb-5 pr-5">
                        <h2 class="display">Urchman Laundery</h2>
                        <p class="lead" id="setting">Urchman Laundery And Dry Cleaning Is A FAntatic Lau-
                            ndery Made For Providing Laundery And Dry Cleaning Services To Indivi-
                            duals Laundery And Dry Cleanning Service Need.</p>
                        <a href="#" id="trans" class="btn btn-outline-secondary btn-lg">Know More..</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-image-2">
                <div class="container">
                    <div class="carousel-caption d-xs-block mb-5">
                        <h2 class="display">Advertistment</h2>
                        <p class="lead">Yaaa.... Urch Man Laundery Services Also Performs Home Delivery And Services. This Is A service That Will Be Rendered At Your Door Step.</p>
                        <a href="#" class="btn btn-primary btn-lg">Checkout...</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-image-3">
                <div class="container">
                    <div class="carousel-caption d-xs-block text-right mb-5 pr-5" id="setting">
                        <h2 class="display" id="setting">Register For Promo</h2>
                        <p class="lead">Check Out For Urch Man Laundery And Service Promo.. Click On The Register Button To Register.You Can Be Eligible For Our Promo If Only You Are Our Registered Customer</p>
                        <a href="#" class="btn btn-success btn-lg">Register>></a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#myCarousel" data-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>
<section id = "AboutSection">
    <div class="container" id ="setAccordion">
        <div class="accordion text-center" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Read and Know More About Us
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
            Urchman Laundery And Dry Cleaning Is A FAntatic Laundery Made For Providing Laundery And Dry Cleaning Services To Indivi-
            duals Laundery And Dry Cleanning Service Need. Urch Man Laundery Also 
            Provide Ironing Services To Individuals. Urch Man Laundery Services 
            Provide Those Services At Individual Door Ste-p And Ensure. That 
            There Customers Are Very Happy. UrchMan Laundery And Dry Clean-
            ing Nig Limited Is Located No. 52 Bende Road Off Gupas Avenue- 
            Akwoku Umuahuia. Abia State nigeria. We Operate Every 24
            Hours.            
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                View details on office delivery services
                </button>
            </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <h1>Price Plan For Office Delivery and services</h1>
                <div class="row getme">
                    <div class="col-md-4 text-center">
                        <div class="single-price" style="padding-left: ">
                            <div class="price-head" style="padding-left:">
                                <h2>Laundery</h2>
                                <p>$0/<span>month</span></p>
                            </div>
                            <div class="price-content">
                                <table class="launderyTable">
                                    <thead>
                                        <tr>
                                            <div class="formatROW"></div><th style="padding-left: 35px;"> Clothes</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;"> Price</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;"> Office</th></div>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Senator</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $500</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Suith</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $1300</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Shirt</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$300</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Trouser</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$300</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Matress</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$700</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-secondary" style="margin-top: 17px; margin-left:">request for laundery</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="single-price" style="padding-left: ;">
                            <div class="price-head" style="padding-left: ;">
                                <h2>Dry cleaning</h2>
                                <p>$0/<span>month</span></p>
                            </div>
                            <div class="price-content">
                                <table class="launderyTable">
                                    <thead>
                                        <tr>
                                            <div class="formatROW"></div><th style="padding-left: 35px;"> Clothes</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;"> Price</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;"> Office</th></div>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Senator</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $500</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Suith</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $1300</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Shirt</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$300</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Trouser</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$300</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Matress</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$700</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                    </tbody>
                                </table>
                                 <button type="button" class="btn btn-secondary" style="margin-top: 17px; margin-left:">request for dry cleaning </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center ">
                        <div class="single-price" style="padding-left:;">
                            <div class="price-head" style="padding-left:;">
                                <h2>Ioning</h2>
                                <p>$0/<span>month</span></p>
                            </div>
                            <div class="price-content">
                                <table class="launderyTable">
                                    <thead>
                                        <tr>
                                            <div class="formatROW"></div><th style="padding-left: 35px;"> Clothes</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;"> Price</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;"> Office</th></div>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Senator</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $400</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Suith</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $1000</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Shirt</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$300</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Trouser</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$300</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Matress</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$700</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                    </tbody>
                                </table>
                                 <button type="button" class="btn btn-secondary" style="margin-top: 17px; margin-left:">request for Ioning </button>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    View details on home delivery services 
                </button>
            </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
               
            <h1>Price Plan For Home Delivery and services</h1>
                <div class="row getme">
                    <div class="col-md-4 text-center">
                        <div class="single-price" style="padding-left: ">
                            <div class="price-head" style="padding-left:">
                                <h2>Laundery</h2>
                                <p>$0/<span>month</span></p>
                            </div>
                            <div class="price-content">
                                <table class="launderyTable">
                                    <thead>
                                        <tr>
                                            <div class="formatROW"></div><th style="padding-left: 35px;"> Clothes</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;"> Price</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;"> Home</th></div>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Senator</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $1400</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Suith</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $2200</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Shirt</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$1000</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Trouser</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$1000</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Matress</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$1700</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-secondary" style="margin-top: 17px; margin-left:">request for laundery</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="single-price" style="padding-left: ;">
                            <div class="price-head" style="padding-left: ;">
                                <h2>Dry cleaning</h2>
                                <p>$0/<span>month</span></p>
                            </div>
                            <div class="price-content">
                                <table class="launderyTable">
                                    <thead>
                                        <tr>
                                            <div class="formatROW"></div><th style="padding-left: 35px;"> Clothes</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;"> Price</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;">Home</th></div>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Senator</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $1500</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Suith</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $2500</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Shirt</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$1000</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Trouser</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$1000</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Matress</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$1700</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Office</td></div>
                                        </tr>
                                    </tbody>
                                </table>
                                 <button type="button" class="btn btn-secondary" style="margin-top: 17px; margin-left:">request for dry cleaning </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="single-price" style="padding-left:;">
                            <div class="price-head" style="padding-left:;">
                                <h2>Ioning</h2>
                                <p>$0/<span>month</span></p>
                            </div>
                            <div class="price-content">
                                <table class="launderyTable">
                                    <thead>
                                        <tr>
                                            <div class="formatROW"></div><th style="padding-left: 35px;"> Clothes</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;"> Price</th></div>
                                            <div class="formatROW"><th style="padding-left: 35px;"> Home</th></div>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Senator</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $1200</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Office</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;"> Suith</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;"> $1900</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Home</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Shirt</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$950</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Home</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Trouser</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$950</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Home</td></div>
                                        </tr>
                                        <tr>
                                            <div class="formatROW"><td style="padding-left: 35px;">Matress</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">$1900</td></div>
                                            <div class="formatROW"><td style="padding-left: 35px;">Home</td></div>
                                        </tr>
                                    </tbody>
                                </table>
                                 <button type="button" class="btn btn-secondary" style="margin-top: 17px; margin-left:">request for Ioning </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section id="authors" class="my-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="text-primary pb-3">
                        Meet The Management
                    </h1>
                    <p class="lead">
                        Urchman Laundery And Dry Cleaning Is A FAntatic Laundery Made For Providing Laundery And Dry Cleaning Services To Indivi-
                        duals Laundery And Dry Cleanning Service Need. Urch Man Laundery Also 
                        Provide Ironing Services To Individuals. Urch Man Laundery Services 
                        Provide Those Services At Individual Door Ste-p And Ensure. That 
                        There Customers Are Very Happy.
                    </p>
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card" id="de-card">
                    <div class="card-body">
                        <img src="/images/Snap.jpg" alt="" class="img-fluid mb-3">
                        <h3>Susana Williams</h3>
                        <h5 class="text-muted">CEO/Director</h5>
                        <p>Susana Williams I a Bussiness mongool at In Umuahia Abia State. Sussana williams is the co-founder of urchman laundery and dry cleaning services.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-4">
                                <a href="http://facebook.com">
                                <i class="fab fa-facebook"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="http://twitter.com">
                                <i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="http://instagram.com">
                                <i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="setPadding">
                <div class="card" id="de-card">
                    <div class="card-body">
                        <img src="/images/Snap.jpg" alt="" class="img-fluid mb-3">
                        <h3>Susana Williams</h3>
                        <h5 class="text-muted">CEO/Director</h5>
                        <p>Susana Williams I a Bussiness mongool at In Umuahia Abia State. Sussana williams is the co-founder of urchman laundery and dry cleaning services.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-4">
                                <a href="http://facebook.com">
                                <i class="fab fa-facebook"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="http://twitter.com">
                                <i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="http://instagram.com">
                                <i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="setPadding">
                <div class="card" id="de-card">
                    <div class="card-body">
                        <img src="/images/Snap.jpg" alt="" class="img-fluid mb-3">
                        <h3>Susana Williams</h3>
                        <h5 class="text-muted">CEO/Director</h5>
                        <p>Susana Williams I a Bussiness mongool at In Umuahia Abia State. Sussana williams is the co-founder of urchman laundery and dry cleaning services.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-4">
                                <a href="http://facebook.com">
                                <i class="fab fa-facebook"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="http://twitter.com">
                                <i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="http://instagram.com">
                                <i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="testimonials" class="p-4 text-white">
    <div class="container">
      <h2 class="text-center">testimonials</h2>
      <div class="row text-center">
        <div class="col">
          <div class="slider">
            <div>
              <blockquote class="blockquote">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
                </p>
                <footer class="blockquote-footer">John Doe From
                  <cite title="Company 1">Company 1</cite>
                </footer>
              </blockquote>
            </div>
            <div>
              <blockquote class="blockquote">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
                </p>
                <footer class="blockquote-footer">Sam Smith From
                  <cite title="Company 2">Company 2</cite>
                </footer>
              </blockquote>
            </div>
            <div>
              <blockquote class="blockquote">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
                </p>
                <footer class="blockquote-footer">Meghan Williams From
                  <cite title="Company 3">Company 3</cite>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section id ="getIntouchSection">
      <div class="container">
          <div class="row">
              <div class="col-lg-9 " id ="formartBorder">
                  <h3>Get In Touch</h3>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.</p>
                  <form>
                      <div class="input-group input-group-lg mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="fas fa-user"></i>
                              </span>
                          </div>
                          <input type="text" class="form-control" placeholder="name">
                      </div>
                      <div class="input-group input-group-lg mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="fas fa-envelope"></i>
                              </span>
                          </div>
                          <input type="text" class="form-control" placeholder="email">
                      </div>
                      <div class="input-group input-group-lg mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="fas fa-pencil-alt"></i>
                              </span>
                          </div>
                          <textarea class="form-control" placeholder="Message" rows="2"></textarea>
                      </div>
                      <input id="formatButton" type="submit" value="submit" class="btn btn-primary btn-block btn-lg">
                  </form>
              </div>
          </div>
      </div>
    </section>
    <section id="video-play">
        <div class="dark-overlay">
            <div class="row">
                <div class="col">
                    <div class="container p-5">
                        <a href="#" class="video" data-video="https://www.youtube.com/embed/T30wHkREgu4"
                        data-toggle="modal" data-target="#videoModal">
                            <i class="fas fa-play fa-3x"></i>
                        </a> 
                        <h1>See What We Do</h1> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- VIDEO MODEL-->
    <div class="modal fade" id="videoModal">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-body">
                     <button class="close" data-dismiss="modal">
                         <span>&times;</span>
                     </button>
                     <iframe src="" frameborder="0" height="350"width="100%" allowfullscreen></iframe>
                 </div>
             </div>
         </div>
    </div>
{{> footer}}
