{{> header}}
<div class="container setPadding">
    <!--<div class="toast" id = "toast"data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto">Error</strong>
            <small class="text-muted">11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Empty Text Field.
        </div>
    <div>-->
    <form name="signupForm" id="registerForm">
        <div class="alert alert-success" id="alert-success" role="alert">
            Success !! Your registration was successfull
        </div>
        <div class="alert alert-danger" id="alert-danger" role="alert">
            Failed !! A user with this email adress is already existing
        </div>
       <div class="textlabel">Service Request Form</div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="UserName">Enter your UserName</label>
                <input type="text" class="form-control" id="UserName" autofocus  data-placement="right">
                <div class="valid-feedback">
                    Please Enter Your Name
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="PhoneNumber">Enter your phone number</label>
                <input type="text" class="form-control" id="PhoneNumber">
                <div class="valid-feedback">
                     Enter a valid Phone Number
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="EmailAdress">Enter Your email adress</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="Email">@</span>
                    </div>
                    <input type="text" class="form-control" id="EmailAdress">
                    <div class="valid-feedback">
                        Please Provide a valid Email Adress
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="SelectInput">Select service</label>
                <select class="custom-select" id="SelectInput">
                    <option selected disabled value="">request for service</option>
                    <option>Home Service</option>
                    <option>Office Delivery</option>
                </select>
                <div class="valid-feedback">
                    Please select a service that will be offered to you.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8 mb-3">
                <label for="deliveryType">Enter delivery type</label>
                <input type="text" class="form-control" id="deliveryType">
                <div class="valid-feedback">
                    Please enter the delivery type.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8 mb-3">
                <label for="Adress">Adress</label>
                <input type="text" class="form-control" id="Adress">
                <div class="valid-feedback">
                    Enter your adress.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8 mb-3">
                <label for="Items">Enter Items</label>
                <textarea class="form-control" id="Items" placeholder="Items to be washed"></textarea>
                <div class="valid-feedback">
                     Please enter the clothes to be washed.
                </div>
            </div>
        </div>
        <div class="col-md-6 pt-2.2">
            <hr>
            <div class="textlabel" id ="formatPayment">payment details</div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <label for="CreditCard">Enter your card number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="far fa-credit-card"></i></span>
                    </div>
                    <input type="text" class="form-control" id="CreditCard">
                    <div class="valid-feedback">
                        Please enter a valid credit card number.
                    </div>
                </div>
            </div>
            <div class="col-md-3 pl-3">
               <label for="ExpiringDate">Expiring date</label>
               <div class="input-group input-daterange" id = "loadDatePicker">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input type="text" placeholder="mm/yyyy" class="form-control" id="ExpiringDate">
                     <div class="valid-feedback">
                        Please Choose a valid Date.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <label for="CardName">Enter card name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-sort-alpha-down"></i></span>
                    </div>
                    <input type="text" class="form-control" id="CardName" aria-describedby="inputGroupPrepend">
                    <div class="valid-feedback">
                      please enter the name of your card.
                    </div>
                </div>
            </div> 
            <div class="col-md-3 pl-3">
                <label for="CardCode"> card code</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-unlock-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" id="CardCode" aria-describedby="inputGroupPrepend">
                    <div class="valid-feedback">
                      Enter three digit code behind your card.
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-md-6 mt-4">
                <label for="validationCustomUsername">Enter three digit code behind your card</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-unlock-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Enter three digit code behind your card.
                    </div>
                </div>
            </di>
            <div class="col-md-6 mt-4">
                <label for="validationCustomUsername">Enter card name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-texcheckBoxt" id="inputGroupPrepend"><i class="fas fa-sort-alpha-down"></i></span>
                    </div>
                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please enter card holder name.
                    </div>
                </div>
            </di>-->
       
        <div class="col-md-8 mb-1.9 pt-4">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" name="form-check-input" type="checkbox" value="" id="checkBox">
                    <label class="form-check-label" for="checkBox">
                        Agree to terms and conditions
                    </label>
                    <div class="valid-feedback" id="chk">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" id="submitbtn">Submit Request</button>
        </div>
    </form>
</div>
{{> footer}}